@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ddd;
}

/* Header or Navbar */
header {
  width: 100%;
  background-color: #21abb4;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:center;
  cursor: pointer;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  
}



.nav-search {
  display: flex;
  justify-content:center;
  max-width: 620px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.select-search {
  background: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  max-width: 600px;
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  padding-left: 10px;
}

.search-icon {
  max-width: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: #37475a;
  color: #ffffff;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sign-in p,
.returns p {
  font-size: 0.75rem;
}

.sign-in,
.returns span {
  font-size: 0.875rem;
  font-weight: 600;
}

.cart {
  display: flex;
}

.cart .cart-icon {
  font-size: 2.5rem
}

.cart p {
  margin-top: 20px;
  font-weight: 500;
}

.banner {
  padding: 10px 20px;
  background: #222f3d;
  color: #fff;
  font-size: 0.875rem;
}

.banner-content {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel {
  max-width: 1280px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.panel span {
  margin-right: 7px;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
  flex-grow: 1;
  margin-left: 15px;
}

.links a {
  padding: 10px 0;
}

.deals a {
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
}

/* Hero Section */
.hero-section {
  height: 400px;
  background-image: url("images/hero-img.jpg");
  background-position: center;
  background-size: cover;
}

/* Shop Section */
.shop-section {
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  height: 100%;
  background-image: linear-gradient(to bottom, #defdff, #48EEF9);
  background-size: 100% 100%; /* Ensure the background covers the entire element */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.shop-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  max-width: 1280px;
  width: 100%;
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__content {
    line-height: 1.5;
    background: #fafafa;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__info {
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #555555;
    background: #eeeeee;
    bottom:0;
    position: absolute;

}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #64968c;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}


.shop-link {
    /* background-image: linear-gradient(to bottom, #7ee8fa, #eec0c6); */
  background-color: white;
  padding: 30px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  white-space: nowrap;
  box-shadow: #ccc 2px 3px 4px ;
  border: solid 0.1rem rgb(37, 37, 37);
  width: 25vw;
  height: 35vh;
  font-family: sans-serif;
  margin: 0.5rem;
}





.shop-link {
  position: relative;
}

.shop-link h4 {
  margin-bottom: 10px;
  position: absolute;
  z-index: 1; /* Ensure the h4 is on top */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: absolute;
  bottom: 10px; /* Adjust the value based on your layout */
  width: 20vw;
  z-index: 1; /* Ensure the button is on top */
  border: none;
}


.item-image {
  width: 100px;
  position: absolute;
  z-index: 0; /* Ensure the image is at the bottom */
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
}

.primary {
  background-color: #21abb4;
  color: #fff;
}


.primary:hover {
  border: 2px solid #21abb4;
  color: black;
  background-color: #fff;
}





/* Footer */
.footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #1d0354;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 600;
  height: 60px;
  width: 100vw;
  bottom: 0;
}

.modal{
  z-index: 20;

}


.modal {
  
            position: fixed;
            z-index: 20;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-left: 37%;
        }

        .modal-content {
            padding: 20px;
            text-align: center;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            cursor: pointer;
            color: #777;
        }

        h3 {
            margin-bottom: 20px;
        }

        #imageInput {
            margin-top: 10px;
        }

        #uploadButton {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background-color: #3498db;
            color: #fff;
            transition: background-color 0.3s;
        }

        #uploadButton:hover {
            background-color: #2980b9;
        }

        .modal-container{
          align-items: center;
        }


        .title {
          border: none;
          font-size: medium;
          font-weight: bold;
          width: 100%;
          text-align: center;
        }